<section class="card resource">
  <%= link_to resource do %>
    <img class="card-img-top img-fluid" src="<%= resource.image %>">
    <div class="card-block">
      <h1 class="card-title"><%= resource.title %></h1>
      <p class="card-text"><%= resource.abstract %></p>
    </div>
    <div class="card-footer">
      <ul class="list-unstyled">
        <% unless resource.categories.empty? %>
          <li><%= fa_icon(:tags) %> <%= resource.categories.map { |c| link_to c.title, c }.join(', ').html_safe %></li>
        <% end %>
        <li><%= link_to "#{fa_icon(:link)} #{resource.url.truncate 30}".html_safe, resource.url, target: :blank %></li>
        <li><%= fa_icon(:calendar) %> <%= resource.created_at.strftime("%d/%m/%Y") %></li>
        <li><%= link_to "#{fa_icon(:user)} #{resource.user.to_s}".html_safe, resource.user %></li>
      </ul>
    </div>
  <% end %>
</section>
