<%= simple_form_for category do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :title %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Cancel', category, class: 'btn btn-primary' %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
