<% content_for :jumbo do %>
  <h1>Categories</h1>
  <%= render 'resources/input', resource: @resource %>
<% end %>
<div class="card-columns">
  <% @categories.each do |category| %>
    <section class="card category">
      <div class="card-block">
        <h1 class="card-title">
          <%= link_to category.title, category %> 
          <span class="label label-pill label-default"><%= category.resources.count %></span>
        </h1> 
        <ul class="list-unstyled">
          <% category.resources.recent.each do |resource| %>
              <li class="card-text"><%= link_to resource, resource %></li>
          <% end %>
        </ul>
      </div>
    </section>
  <% end %>
  <section class="card new">
    <div class="card-block">
      <h1 class="card-title">
        <%= link_to 'Create new Category', new_category_path %>
      </h1> 
    </div>
  </section>
</div>

