<% content_for :title, @category %>
<% content_for :jumbo do %>
  <h1>
    <%= @category.title %><br/>
    <%= link_to fa_icon(:pencil), edit_category_path(@category), class: 'mini-icon' %>
    <%= link_to fa_icon(:trash), @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mini-icon' %>
  </h1>
  <%= render 'resources/input', resource: @resource %>
<% end %>
<header class="text-xs-center">
</header>
<div class="card-columns">
  <% @category.resources.each do |resource| %>
    <%= render 'resources/card', resource: resource %>
  <% end %>
</div>
