<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>clli</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <%= link_to 'clli', root_path, class: 'navbar-brand logo' %>
      </div>
    </nav>
    <section class="jumbotron text-xs-center">
      <div class="container">
        <%= simple_form_for Resource.new do |f| %>
          <%= f.input :url, as: :string, label: false, placeholder: 'Paste URL here' %>
          <%= f.button :submit, 'Add resource' %>
        <% end %>
      </div>
    </section>
    <p id="notice"><%= notice %></p>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="text-muted">
      <div class="container">
        <small>
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Les Poupées Russes</p>
        </small>
      </div>
    </footer>
  </body>
</html>
