<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><% if content_for?(:title) %><%= yield(:title) %> | <% end %>clli</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <%= link_to 'clli', root_path, class: 'navbar-brand logo' %>
        <ul class="nav navbar-nav pull-right">
        <li class="nav-item small"><%= link_to 'collective intelligence system', root_path, class: 'nav-link' %></li>
      </ul>
      </div>
    </nav>
    <section class="jumbotron text-xs-center">
      <div class="container">
        <%= yield :jumbo %>
      </div>
    </section>
    <div class="container-fluid">
      <% unless notice.nil? %>
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
      <footer id="footer" class="text-muted">
        <p class="pull-xs-right"><a href="#">Back to top</a></p>
        <p>
          Outil d'intelligence collective open source par <a href="http://lespoupees.paris" target="_blank">Les Poupées Russes</a> / 
          Code source sur <a href="https://github.com/semiodesign/clli" target="_blank">github.com/semiodesign/clli</a>
        </p>
      </footer>
    </div>
  </body>
</html>
