<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><% if content_for?(:title) %><%= yield(:title) %> | <% end %>clli</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <%= link_to image_tag('logo.svg', width: 80), root_path, class: 'navbar-brand logo' %>
        <button class="navbar-toggler hidden-sm-up pull-right" 
                type="button" 
                data-toggle="collapse" 
                data-target="#collapsingNavbar" 
                aria-controls="collapsingNavbar" 
                aria-expanded="false" 
                aria-label="Toggle navigation">&#9776;</button>
        <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
          <ul class="nav navbar-nav pull-right small">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user %></a>
                <ul class="dropdown-menu" aria-labelledby="Preview">
                  <li class="dropdown-item"><%= link_to 'My resources', current_user %></li>
                  <li class="dropdown-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <section class="jumbotron text-xs-center">
      <div class="container">
        <%= yield :jumbo %>
      </div>
    </section>
    <div class="container-fluid">
      <% unless notice.nil? %>
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
      <footer id="footer" class="text-muted">
        <p>
          Outil d'intelligence collective open source par <a href="http://lespoupees.paris" target="_blank">Les Poupées Russes</a> <br/>
          Code source sur <a href="https://github.com/semiodesign/clli" target="_blank">github.com/semiodesign/clli</a>
        </p>
      </footer>
    </div>
    <%= render 'users_online' %>
  </body>
</html>
